<section class="banner">
  <div class="banner-content">
    <div class="banner-text">
      <div class="title">Navegando Pelos Meandros da Regência Verbal</div>
      <div class="text">
        Descubra Conhecimentos Frescos e Saudáveis sobre Regência Verbal
        especialmente para você
      </div>
      <button (click)="saibaMais()">Saiba Mais <i class="fa-solid fa-right-from-bracket"></i></button>
    </div>
    <div class="space"></div>
  </div>
</section>
<section class="info line-bottom" #initialText>
  <div class="text">
    Você sabe o que é regência verbal? E regência nominal? Se você ainda não
    sabe, é tempo de aprender. Entender sobre esse assunto é indispensável para
    quem deseja escrever adequadamente, respeitando, assim, a sintaxe da língua
    portuguesa. Vamos lá?
  </div>
</section>
<section class="info">
  <div class="text">
    Você já deve ter percebido que, em uma oração, as palavras estabelecem
    relações entre si. Graças a essa relação, somos capazes de construir os
    sentidos da mensagem, uma vez que as palavras são interdependentes. Essa
    relação de complementação entre os termos da oração é chamada de regência,
    que pode ser verbal ou nominal. Chamamos de termo regido a palavra que
    depende de outra para obter sentido completo e de termo regente a palavra a
    que se subordina o termo regido.
  </div>
</section>
<section class="info">
  <div class="text text-italic">
    Achou complicado? Parece, mas não é. Fique atento à explicação e aos
    exemplos que o sítio de Português preparou para você. Depois desta leitura,
    certamente todas as dúvidas serão esclarecidas. Bons estudos!
  </div>
</section>
<section
  class="fundo info line-bottom"
  [ngStyle]="{ background: 'url(\'../assets/livros.jpg\'), rgba(0 0 0 / 25%)' }"
>
  <div class="text" style="color: white">
    <h1>Regência verbal</h1>
  </div>
</section>
<section class="info">
  <div class="text">
    Chamamos de regência verbal a relação que se estabelece entre os verbos e os
    termos que os complementam (objetos diretos e objetos indiretos) ou
    caracterizam (adjuntos adverbiais). Os verbos podem ser intransitivos e
    transitivos.
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    Os verbos intransitivos não exigem complemento. Isso acontece porque são
    verbos que fazem sentido por si só, ou seja, possuem sentido completo. Em
    alguns casos, eles são acompanhados por adjuntos adverbiais, elementos que
    não podem ser considerados como objetos. O adjunto adverbial é um termo
    acessório da oração cuja função é modificar um verbo, um adjetivo ou um
    advérbio, indicando uma circunstância (tempo, lugar, modo, intensidade
    etc.). Sendo um termo acessório, pode ser retirado da frase sem alterar sua
    estrutura sintática. Veja alguns exemplos:
  </div>
</section>
<section class="info line-bottom">
  <div class="text" style="text-align: start; display: grid; gap: 10px">
    <strong>
      <span class="verbo">Choveu</span>&nbsp;<span class="complemento"
        >muito ontem.</span
      >
    </strong>
    <span class="verbo"> verbo impessoal </span>
    <span class="complemento">
      adjunto adverbial de intensidade e de tempo (intransitivo)
    </span>
    <br />
    <strong>
      <span class="verbo">Chegamos</span>&nbsp;<span class="complemento"
        >no voo das onze horas.</span
      >
    </strong>
    <span class="verbo">verbo intransitivo</span>
    <span class="complemento"> adjunto adverbial de meio e de tempo</span>
  </div>
</section>
<section
  class="fundo info line-bottom"
  [ngStyle]="{
    background: 'url(\'../assets/livros3.jpg\'), rgba(0 0 0 / 25%)'
  }"
>
  <div class="text" style="color: white">
    <h1>Verbos transitivos diretos</h1>
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    Chamamos de verbos transitivos aqueles que precisam de um complemento, uma
    vez que não possuem sentido quando sozinhos. Eles podem ser transitivos
    diretos e indiretos. Os transitivos diretos são acompanhados por objetos
    diretos e não exigem preposição para o correto estabelecimento da relação de
    regência. Veja os exemplos:
  </div>
</section>
<section class="info line-bottom">
  <div class="text" style="text-align: start; display: grid; gap: 10px">
    <strong>
      <span class="verbo">Quero</span>&nbsp;<span class="complemento"
        >bolo</span
      >
    </strong>
    <span class="verbo">verbo transitivo direto </span>
    <span class="complemento"> objeto direto </span>
    <br />
    <strong>
      <span class="verbo">Amo</span>&nbsp;<span class="complemento"
        >aquele rapaz</span
      >
    </strong>
    <span class="verbo">verbo transitivo direto </span>
    <span class="complemento"> objeto direto </span>
  </div>
</section>
<section
  class="fundo info line-bottom"
  [ngStyle]="{
    background: 'url(\'../assets/livros4.jpg\'), rgba(0 0 0 / 25%)'
  }"
>
  <div class="text" style="color: white">
    <h1>Regência nominal</h1>
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    Chamamos de regência nominal o nome da relação existente entre um nome
    (substantivo, adjetivo ou advérbio) e os termos regidos por esse nome. Essa
    relação é sempre intermediada por uma preposição. Veja alguns exemplos (vale
    lembrar que existem muitos outros):
  </div>
</section>
<section class="info">
  <div class="text text-italic">
    <strong>Substantivos:</strong><br />

    Admiração a/por <br />
    Devoção a/ para/ com/ por <br />
    Medo de <br />
    Respeito a/ com/ para com/ por <br />
  </div>
</section>
<section class="info">
  <div class="text text-italic">
    <strong>Adjetivos:</strong> <br />

    Necessário a <br />
    Acostumado a/com <br />
    Nocivo a <br />
    Agradável a <br />
    Equivalente a <br />
  </div>
</section>
<section class="info line-bottom">
  <div class="text">
    <strong>Advérbios:</strong> <br />
    Longe de/ Perto de <br /><br />

    <strong
      >Obs.: Os advérbios terminados em -mente tendem a seguir o regime dos
      adjetivos de que são formados:</strong
    >

    <br /><br />

    Paralela a; paralelamente a <br />
    Relativa a; relativamente a
  </div>
</section>
